$radius: 5px;
$color-primary: #3355a0; // blue
$vertical-spacing: 15px;

$button-border: 2px;
$button-border-color: black;

$form-border: 1px;
$form-border-color: rgba(0, 0, 0, 0.2);

$focus-outline-color: $color-primary;

$disabled-opacity: 0.6;