$radius: 5px;
$color-primary: black;
$color-text-primary: white;
$vertical-spacing: 24px;

$base-spacing: $vertical-spacing/2;

$button-border: 2px;
$button-border-color: black;

$form-border: 1px;
$form-border-color: rgba(0, 0, 0, 0.2);

$focus-outline-color: $color-primary;

$disabled-opacity: 0.6;


$tablet: "(min-width: 768px)";
$tablet_only: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin tablet-only {
  @media #{$tablet_only} {
    @content;
  }
}


